.root {
    -jexam-primary: #7FA86B;
    -jexam-primary-dark: #5F8751;
    -jexam-primary-light: #E8F1E4;
    -jexam-success: #6C9360;
    -jexam-warning: #C0A15A;
    -jexam-error: #C36F77;

    -jexam-fg: #323130;
    -jexam-surface: #FFFFFF;
    -jexam-border: #CBCFC6;
    -jexam-muted: #A6A89F;

    -fx-background-color: -jexam-surface;
    -fx-text-fill: -jexam-fg;
}
